/* uso para calendario*/

.login{
	margin: 0px;
	color: #EA503E;
	
}
.login2{
	margin-left: 450px;
	color: #EA503E;
	
}

ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
	padding: 0;
}

.primer-dia{
	grid-column-start: 5;
}

.diasemana{
	background:  #eee;
	font-weight: bold;
}

.crearcita{
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 1px ;
	background: #3EE5EA;
	color: #EA503E;
}

/* menu de navegacion */

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #87da15;
    border-radius: 35px 35px 35px 35px;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #EA503E;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color:brown;
	transition: all .3s;
}
